 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*, body {
    margin: 0;
    padding: 0;
}

html {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font: 16px;
}

.header {
    padding: 0 0.6rem;
}

.switcher, .switcher:visited, .switcher:hover {
    color: white;
    padding-top: 0.5rem;
    display: inline-block;
}

#year {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
}

.month-grid {
    display: flex;
    flex-wrap: wrap;
}

.month {
    flex: 1;
    padding: 0 0.6rem;
    box-sizing: border-box;
}

.month__title {
    text-align: center;
    color: chartreuse;
    font-weight: 700;
    padding: 0.7rem 0;
}

.month__weak-header {
    display: flex;
    border-bottom: 2px solid white;
}

.month__weak-header-day-num, .month__day {
    width: 14.285714285714286%;
    text-align: center;
    box-sizing: border-box;
}


.month__days {
    display: flex;
    flex-wrap: wrap;
    column-count: 7;
}

.month__day {
    color: orange;
}

.month__day.month__day_current {
    background: orange;
    color: black;
}

.month__day.month__day_red,
.month__day:nth-child(7n), 
.month__day:nth-child(7n-1),
.month__weak-header-day-num:nth-child(6),
.month__weak-header-day-num:nth-child(7) {
    color: red;
    font-weight: 700;
}

.month__day:nth-child(7n-1),
.month__weak-header-day-num:nth-child(6) {
    border-left: 2px solid white;
}

.month__day.month__day_red {
    border: 2px solid red;
}

.month__day.month__day_red.month__day_current,
.month__day:nth-child(7n).month__day_current,
.month__day:nth-child(7n-1).month__day_current {
    background: red;
    color: black;
}

@media (min-width: 20rem) {
    .month {
        min-width: 100%;
        font-size: 0.8rem;
    }
}

@media (min-width: 40rem) {
    .month {
        min-width: 50%;
        font-size: 1rem;
    }

    .switchers {
        position: absolute;
    }
}

@media (min-width: 70rem) {
    .month {
        min-width: 33%;
    }
}


@media (min-width: 90rem) {
    .month {
        min-width: 25%;
    }
}


